/* Aplicando a fonte Montserrat e ajustando o estilo */
body {
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat */
    background-color: #6a0dad; /* Cor de fundo roxa (Royal Purple) */
    color: #ffffff; /* Texto branco */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
